




 .weapons{
    position:relative;
    display:none;
    background-color: rgb(33, 146, 23);
    left:5%;
    width: 90%;
    height: 90%;
    top:5%;
    border-width: 0.5rem;
    border-color: black;
 }